{% extends 'Plantilla_Tabla.html' %}

{% block TitlePage %} CONTROL ESCOLAR - ASIGNAR ALUMNO A UN GRUPO ESCOLAR {% endblock TitlePage %}


{% block Nombre_Usuario %} Paulina Trejo {% endblock Nombre_Usuario %}

{% block Puesto_Usuario %} Maestra {% endblock Puesto_Usuario %}

{% block email %} paudamador@hotmail.com {% endblock email %}

{% block Titulo_Principal %} LISTADO DE ALUMNOS{% endblock Titulo_Principal %}

{% block Titulo_Secundario %}
    {% if messages %}
        {% for message in messages%}
            <script language="JavaScript">
                var mensaje = ""
                mensaje = mensaje.concat("{{message}}");

                if( mensaje == "lista_alumnos") {

                }
                else
                    if( mensaje == "new") {
                    Swal.fire({
                          icon: 'success',
                          title: '<i class="ti ti-device-floppy"></i>' + 'Registro Guardado',
                          html: 'El registro se guardó correctamente.',
                          timer: 3000,
                          timerProgressBar: true,
                          willClose: () => {

                          }
                        })
                }
                else
                    if( mensaje == "edit") {
                    Swal.fire({
                          icon: 'success',
                          title: '<i class="ti ti-edit"></i>' + 'Registro Actualizado',
                          html: 'El registro se actualizó correctamente.',
                          timer: 3000,
                          timerProgressBar: true,
                          willClose: () => {

                          }
                        })
                }
                else
                    if( mensaje == "delete") {
                        Swal.fire({
                              icon: 'success',
                              title: '<i class="ti ti-trash"></i>' + 'Registro Eliminado',
                              html: 'El registro se eliminó correctamente.',
                              timer: 2000,
                              timerProgressBar: true,
                              willClose: () => {

                              }
                            })
                }
            </script>

        {% endfor %}
    {% endif %}


<div class="row mb-4">
    <div class="col-sm-10">
        <h5 class="card-title"> Asignar alumnos al grupo escolar: </h5>
    </div>

    <div class="col-sm-2 text-sm-left">
        <a class="btn btn-light-primary text-primary rounded-pill text-decoration-none btn-sm" title="Nuevo Registro" href="{% url 'listado_grado_grupo_escolar' %}">
            <i class="ti ti-arrow-back-up me-2 fs-4"></i>Regresar al listado
        </a>
    </div>
    <div>
        <h5 class="text-primary"><u>{{ id_grado_grupo.presentacion }}</u></h5>
    </div>

</div>

{% endblock Titulo_Secundario %}



{% block Contenido%}

    <div class="row">
        <div class="col-md-10">
          <div class="form-floating mb-3">
                <select class="form-select select2" id="id_alumno_select" name="alumno" required style="width:100%;">
                    <option value="" disabled selected>Buscar Alumno</option>
                    {% for alumno in alumnos %}
                         <option value="{{alumno.id}}" d>Nombre: {{alumno}} / Fecha de Nacimiento: {{alumno.fecha_nacimiento}} / CURP: {{alumno.curp}}</option>
                    {% endfor %}
                </select>
          </div>
        </div>

        <div class="col-md-2">
            <div class="form-floating mb-3">
                <button type="button" class="form-group btn btn-primary" onclick="AgregarAlumno()"><i class="ti ti-user-plus"></i> Agregar</button>
            </div>
        </div>

    </div>

<form action="{% url 'asignacion_alumnos' %}" method="POST">
    {% csrf_token %}
    <!--{{ formGradoGrupo }}-->

    <input type="hidden" id="id_id_grado_grupo" name="id_grado_grupo" value="{{ id_grado_grupo.id }}">
    <div class="card card-body">
        <div class="table-responsive">
            <div class="dataTables_scroll">
                <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">

                  <table id="tabla_alumnos" class="table border table-striped table-bordered display text-nowrap datatable" style="width: 100%;">
                  <thead>
                      <!-- header -->
                      <tr>
                          <th>ID</th>
                          <th>nombre</th>
                          <th>Acciones</th>
                      </tr>
                      <!-- end header -->
                  </thead>
                  <tbody>



                  </tbody>

                  </table>

                    <div class="col-md-2">
                        <div class="form-floating mb-3">
                            <button type="submit" class="form-group btn btn-primary"><i class="ti ti-save"></i> Asignar Alumnos</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>





{% endblock Contenido%}
