{% extends 'Plantilla_Tabla.html' %}

{% block TitlePage %} CONTROL ESCOLAR - GRUPOS ESCOLARES {% endblock TitlePage %}

{% block Nombre_Usuario %} Paulina Trejo {% endblock Nombre_Usuario %}

{% block Puesto_Usuario %} Maestra {% endblock Puesto_Usuario %}

{% block email %} paudamador@hotmail.com {% endblock email %}

{% block Titulo_Principal %} LISTADO DE GRUPOS ESCOLARES {% endblock Titulo_Principal %}

{% block Titulo_Secundario %}
    {% if messages %}
        {% for message in messages%}
            <script language="JavaScript">
                var mensaje = ""
                mensaje = mensaje.concat("{{message}}");

                if( mensaje == "new") {
                    Swal.fire({
                          icon: 'success',
                          title: '<i class="ti ti-device-floppy"></i>' + 'Registro Guardado',
                          html: 'El registro se guardó correctamente.',
                          timer: 3000,
                          timerProgressBar: true,
                          willClose: () => {

                          }
                        })
                }
                else
                    if( mensaje == "edit") {
                    Swal.fire({
                          icon: 'success',
                          title: '<i class="ti ti-edit"></i>' + 'Registro Actualizado',
                          html: 'El registro se actualizó correctamente.',
                          timer: 3000,
                          timerProgressBar: true,
                          willClose: () => {

                          }
                        })
                }
                else
                    if( mensaje == "delete") {
                        Swal.fire({
                              icon: 'success',
                              title: '<i class="ti ti-trash"></i>' + 'Registro Eliminado',
                              html: 'El registro se eliminó correctamente.',
                              timer: 2000,
                              timerProgressBar: true,
                              willClose: () => {

                              }
                            })
                }
                else
                    if( mensaje == "error") {
                    Swal.fire({
                          icon: 'error',
                          title: '<i class="ti ti-edit"></i>' + 'Error',
                          html: 'No se pudo guardar el registro.',
                          timer: 3000,
                          timerProgressBar: true,
                          willClose: () => {

                          }
                        })
                }
            </script>

        {% endfor %}
    {% endif %}


    <div class="row mb-4">
      <div class="col-sm-10">
        <h5 class="card-title"> Listado de Grupos Escolares </h5>
      </div>

      <div class="col-sm-2 col-mb-3 text-right">
        <a class="btn btn-light-success text-primary rounded-pill text-decoration-none btn-sm" title="Nuevo Registro"
                href="{% url 'nuevo_grupo_escolar' %}">
          <i class="ti ti-text-plus fs-6"></i>Nuevo Grupo Escolar
        </a>
      </div>

    </div>

{% endblock Titulo_Secundario %}


    
{% block Contenido%}

<div class="table-responsive">
    <div class="dataTables_scroll">
        <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">

          <table id="file_export" class="table border table-striped table-bordered display text-nowrap datatable" style="width: 100%;">
          <thead>
              <!-- header -->
              <tr>
                  <th>ID</th>
                  <th>Grado</th>
                  <th>Grupo</th>
                  <th></th>
              </tr>
              <!-- end header -->
          </thead>
          <tbody>

              {% for gradogrupo in gradogrupos %}
                  <tr>
                      <td>{{ gradogrupo.id }}</td>
                      <td>
                            <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <span class="fs-3 fw-normal mb-0">&nbsp;&nbsp; {{ gradogrupo.id_grado }}</span>
                              </div>
                            </div>

                      </td>
                      <td>{{ gradogrupo.id_grupo }}</td>

                      <td>
                          <div class="align-items-center">
                              <a href="asignar_alumnos/{{ gradogrupo.id }}"><img src="/static/dist/images/icons/new.png" class="btn mb-1 btn-circle d-inline-flex align-items-center justify-content-center" width="36px" height="36px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Agregar Alumnos"></a>
                              <img src="/static/dist/images/icons/add-group.png" class="btn mb-1 btn-circle d-inline-flex align-items-center justify-content-center" width="36px" height="36px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Agregar Maestros"></a>
                              <span>|&nbsp;&nbsp; </span>

                              <a href="listar_alumnos/{{ gradogrupo.id }}"><img src="/static/dist/images/icons/students.png" class="btn mb-1 btn-circle d-inline-flex align-items-center justify-content-center" width="36px" height="36px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Ver alumnos asignados"></a>
                              <img src="/static/dist/images/icons/teacher.png" class="btn mb-1 btn-circle d-inline-flex align-items-center justify-content-center" width="36px" height="36px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Ver Maestros asignados">
                              <span>|&nbsp;&nbsp; </span>

                              <!--a-- href="buscar_materia?id={{ materia.id }}" type="button" class="btn mb-1 btn-info btn-circle btn-sm d-inline-flex align-items-center justify-content-center" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Ver Detalles">
                                <i class="fs-5 ti ti-id"></i>
                              </a-->
                              <a href="editar_materia/{{ materia.id }}" type="button" class="btn mb-1 btn-warning btn-circle btn-sm d-inline-flex align-items-center justify-content-center" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Editar Registro">
                                <i class="fs-5 ti ti-edit"></i>
                              </a>
                              <a onclick="eliminar(this)" data-message="eliminar_materia/{{ materia.id }}" class="btn mb-1 btn-danger btn-circle btn-sm d-inline-flex align-items-center justify-content-center" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Eliminar Registro">
                                <i class="fs-5 ti ti-trash-x-filled"></i>
                              </a>
                          </div>
                      </td>
                  </tr>
              {% endfor %}

          </tbody>
          <tfoot>
              <!-- start row -->
              <tr>
                  <th>ID</th>
                  <th>Grado</th>
                  <th>Grupo</th>
                  <th></th>
              </tr>
              <!-- end row -->
          </tfoot>
          </table>

        </div>
    </div>
</div>




{% endblock Contenido%}


