{% extends 'Plantilla_base.html' %}

{% block TitlePage %} CONTROL ESCOLAR - INFORMACIÓN DEL MAESTRO {% endblock TitlePage %}

{% block headers %}

    <!-- --------------------------------------------------- -->
    <!-- Select2 -->
    <!-- --------------------------------------------------- -->
    <link rel="stylesheet" href="/static/dist/libs/select2/dist/css/select2.min.css">

{% endblock headers %}

{% block Titulo_Principal %} INFORMACIÓN DEL MAESTRO {% endblock Titulo_Principal %}

{% block Titulo_Secundario %}

<div class="row mb-4">
  <div class="col-sm-10">
    <h5 class="card-title"> Ingresa los siguientes datos </h5>
  </div>

  <div class="col-sm-2 text-sm-left">
    <a class="btn btn-light-primary text-primary rounded-pill text-decoration-none btn-sm" title="Nuevo Registro"
            href="{% url 'listado_maestros' %}">
      <i class="ti ti-arrow-back-up me-2 fs-4"></i>Regresar al listado
    </a>
  </div>

</div>
{% endblock Titulo_Secundario %}



{% block Contenido%}


<form action="{% url 'buscar_maestro' %}"  method="POST">
    {% csrf_token %}
    <div class="row">
    <div class="col-md-12">
      <div class="form-floating mb-3">
            <select class="form-select select2" id="id_maestro" name="maestro" required style="width:100%;">
                <option value="" disabled selected>Buscar Maestro</option>
                {% for maestro in maestros %}
                     <option value="{{maestro.id}}">{{maestro}}</option>
                {% endfor %}
            </select>
        </div>
     </div>


    <div class="col-md-4">
        <div class="form-floating mb-3">
            <button type="submit" class="form-group btn btn-success"><i class="ti ti-search"></i> Buscar</button>
        </div>
    </div>

    </div>
</form>


{% endblock Contenido %}

{% block scripts %}
    <!-- ---------------------------------------------- -->
    <!-- select2 page js files -->
    <!-- ---------------------------------------------- -->

    <script src="/static/dist/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="/static/dist/libs/select2/dist/js/select2.min.js"></script>
    <script src="/static/dist/js/forms/select2.init.js"></script>



{% endblock scripts %}