{% extends 'Plantilla_base.html' %}

{% block TitlePage %} CONTROL ESCOLAR - EDITAR MATERIA {% endblock TitlePage %}

{% block headers %}
    <!-- --------------------------------------------------- -->
    <!-- Select2 -->
    <!-- --------------------------------------------------- -->
    <link rel="stylesheet" href="/static/dist/libs/select2/dist/css/select2.min.css">
{% endblock headers %}

{% block Titulo_Principal %} EDITAR MATERIA {% endblock Titulo_Principal %}

{% block Titulo_Secundario %}

<div class="row mb-4">
  <div class="col-sm-10">
    <h5 class="card-title"> Ingresa los siguientes datos </h5>
  </div>

  <div class="col-sm-2 text-sm-left">
    <a class="btn btn-light-primary text-primary rounded-pill text-decoration-none btn-sm" title="Nuevo Registro"
            href="{% url 'listado_materias' %}">
      <i class="ti ti-arrow-back-up me-2 fs-4"></i>Regresar al listado
    </a>
  </div>

</div>
{% endblock Titulo_Secundario %}



{% block Contenido%}

<form action="{% url 'edicion_materia' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}


     <div class="row">
         <div class="col-md-12">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="id_materia" id="id_id_materia" maxlength="80" required readonly value="{{materia.id}}">
            <label for="id_materia">Materia ID</label>
          </div>
        </div>
     </div>
   <div class="row">
        <div class="col-md-5">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="materia" id="id_materia" maxlength="80" required placeholder="Ingresa el nombre de la materia" value="{{materia.materia}}">
            <label for="id_materia">Nombre de la Materia</label>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="codigo_materia" id="id_codigo_materia" required maxlength="40" placeholder="Ingresa el código de la materia" value="{{materia.codigo_materia}}">
            <label for="id_codigo_materia">Código</label>
          </div>
        </div>

       <div class="col-md-5">
          <div class="form-floating mb-3">
            <select class="form-select" id="id_id_ciclo_escolar" name="id_ciclo_escolar" required>
                <option></option>
                {% for ciclo in ciclos_escolares %}
                    {% if materia.id_ciclo_escolar == ciclo %}
                        <option value="{{ ciclo.id }}" selected>{{ ciclo }}</option>
                    {% else %}
                        <option value="{{ ciclo.id }}">{{ ciclo }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="id_id_ciclo_escolar">Ciclo Escolar</label>
          </div>
       </div>

  </div>

    <div class="row">
        <div class="col-md-12">
          <div class="form-floating mb-3">
              <textarea class="form-control" name="detalles_materia" id="id_detalles_materia" required placeholder="Ingresa más información acerca de la materia">{{materia.detalles_materia}}</textarea>
            <label for="id_detalles_materia">Detalles de la Materia</label>
          </div>
        </div>




    </div>

    <div class="row">
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <small>&nbsp;&nbsp;Maestro Responsable</small>
            <select class="form-select select2" id="id_id_maestro" name="id_maestro" required style="width:100%">
                <option></option>
                {% for maestro in maestros %}
                    {% if materia.id_maestro == maestro %}
                        <option value="{{ maestro.id }}" selected>{{ maestro }}</option>
                    {% else %}
                        <option value="{{ maestro.id }}">{{ maestro }}</option>
                    {% endif %}
                {% endfor %}
            </select>

          </div>
       </div>

        <div class="col-md-6">
          <div class="form-floating mt-2">
            <input type="file" class="form-control form-control-sm" name="foto_libro" id="id_foto_libro" accept="image/*" placeholder="Foto del Libro">
            <label for="id_foto_libro">Foto del Libro</label>
          </div>
        </div>
    </div>

    <div class="row">
      <h6 class="mb-2">Imagen actual del Libro</h6>
       <div class="col-6">
          <a target="_blank" href="/media/{{ materia.foto_libro}}">
              <img src="/media/{{ materia.foto_libro }}" alt="foto_perfil" class="rounded-2 img-fluid mb-6" style="width: 150px; height: 150px;">
          </a>
       </div>
    </div>


    <div class="col-12">
      <div class="d-md-flex align-items-center mt-3">
        <div class="ms-auto mt-6 mt-md-0">
          <button type="submit" class="btn btn-success font-medium rounded-pill px-3">
            <div class="d-flex align-items-center">
              <i class="ti ti-device-floppy me-2 fs-6"></i>
              Guardar Registro
            </div>
          </button>
        </div>
      </div>
    </div>



</form>


{% endblock Contenido %}

{% block scripts %}
    <!-- ---------------------------------------------- -->
    <!-- select2 page js files -->
    <!-- ---------------------------------------------- -->

    <script src="/static/dist/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="/static/dist/libs/select2/dist/js/select2.min.js"></script>
    <script src="/static/dist/js/forms/select2.init.js"></script>

    <!--script src="/static/dist/libs/jquery/dist/jquery.min.js"></script-->

    <!--script src="/static/dist/js/functions.js"></script-->



{% endblock scripts %}